pkgbase = solidity-analyzer
	pkgdesc = API library built in Rust, which exposes a single function, which takes the contents of a Solidity source file and returns its imports and version pragmas
	pkgver = 0.1.2.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/solidity-analyzer
	arch = x86_64
	arch = arm
	arch = aarch64
	arch = i686
	arch = mips
	arch = powerpc
	arch = pentium4
	license = custom
	makedepends = npm
	makedepends = yarn
	depends = nodejs
	provides = nodejs-solidity-analyzer=0.1.2.1.1
	conflicts = nodejs-solidity-analyzer=0.1.2.1.1
	source = solidity-analyzer-55a88c2957de8f93af3bb135187fc2c7a0973291.zip::https://github.com/themartiancompany/solidity-analyzer/archive/55a88c2957de8f93af3bb135187fc2c7a0973291.zip
	sha256sums = 31a540388e9fd4e54e6a5c7ef0ff8ed042a404994519212e2524a93a2a282254

pkgname = solidity-analyzer
